.plans {
    padding: 5.6vw;

    h2 {
        text-align: center;

        @media (max-width: 768px) {
            margin-top: 40px;
        }
    }

    &__list {
        display: flex;
        justify-content: space-around;
        margin-top: 50px;

        @media (max-width: 768px) {
            display: block;
        }

        @media screen and (min-width: 768px) and (max-width: 1024px) {
            flex-wrap: wrap;
        }

        &__item{
            text-align: center;
            padding: 60px 44px 44px;
            max-width: 380px;
            width: 100%;
            list-style: none;

            @media (max-width: 768px) {
                padding: 0 30px 44px;
            }

            @media screen and (min-width: 768px) and (max-width: 1024px) {
                padding: 20px 0 0 0;
                margin-bottom: 50px;
            }

            &:nth-child(2) {
                background-image: url(../images/fundo_combo_plus.png);
                background-repeat: no-repeat;
                background-size: contain;
                
                @media (max-width: 768px) {
                    padding-top: 60px;
                }

                @media screen and (min-width: 768px) and (max-width: 1024px) {
                    padding-top: 60px;
                }
                
            }

            img {
                height: 83px;

                @media screen and (min-width: 768px) and (max-width: 1024px) {
                    height: 100px;
                }
            }

            strong {
                display: block;
                margin-top: 24px;
            }
        }
    }
    
    p {
        text-align: center;
        
        @media screen and (min-width: 768px) and (max-width: 1024px) {
            padding: 0px 44px;
        }
    }
}

.button {
    margin-top: 24px;
}